html,
body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: sans-serif;
  background-color: #293742;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
    Icons16, sans-serif;
}

.app-toaster {
  z-index: 1000;
}
